<table class="table text-center mx-auto mt-5">
    <thead>
        <th>NAME</th>
        <th>MOBILE NO</th>
        <th>AMOUNT</th>
        <th>DESCRIPTION</th>
        <th>PURPOSE</th>
        <th>RECEIPT</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of expenses">

            <td>{{product.name}}</td>
            <td>{{product.mobileno}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.description}}</td>
            <td>{{product.purpose}}</td>
            <td>
                <img src={{product.receipt}} width="100px" alt="">
            </td>
        </tr>
    </tbody>
</table>