<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div class="col" *ngFor="let product of products">
        <div class="card shadow">
            <img src={{product.receipt}} class="card-img-top" w-25 alt="...">
            <div class="card-body">
                <h5 class="card-title  text-capitalize " style="color: #69063F;">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <h6>Price : {{product.amount}}</h6>
            </div>
        </div>
    </div>

    
</div>